*{
padding: 0px;
margin: 0px;
font-family: sans-serif;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
::selection {text-decoration: none;}
.container{
margin: 0 auto;
width: 90%;
max-width: 900px;
}
.tabuleiro{
margin: 0 auto;
width: 498px;
height: 500px;
background-color: #666;
border: 3px solid silver;
border-radius: 5px;
}
.tabuleiro div {
float: left;
height: 165px;
font-size: 170px;
border: 3px solid silver;
width: 164px;
text-align: center;
line-height: 160px;
color: white;
transition:0.3s;
cursor: pointer;
}
.tabuleiro div:hover{
background-color: white;
color: #666;
}
.topo {
height: 100px;
background-color: #ececec;
color: #666;
border-bottom: 2px solid silver;
}
.topo h1 {
text-align: center;
line-height: 55px;
}
#recomecar {
margin-top: 10px;
margin-bottom: 10px;
}
#botao {
color: white;
font-weight: bold;
background-color: #666;
padding: 10px;
border-radius: 5px;
margin: 0 auto;
display: none;
width: 106px;
text-align: center;
cursor: pointer;
}
#result {text-align: center;}