*{
padding: 0px;
margin: 0px;
font-family: sans-serif;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
tabuleiro::selection {color:red;background:yellow;}
.container{
margin: 0 auto;
width: 90%;
max-width: 900px;
}
.tabuleiro{
margin: 0 auto;
width: 600px;
height: 600px;
background-color: #666;
border: 3px solid silver;
border-radius: 5px;
}
.tabuleiro div {
float: left;
height: 200px;
font-size: 170px;
border: 1px solid silver;
width: 198px;
text-align: center;
line-height: 190px;
color: white;
}
.topo{
height: 100px;
background-color: #ececec;
}
.topo h1 {
text-align: center;
color: #666;
line-height: 85px;
}
#botao{
color: white;
margin-top: 20px;
background-color: red;
padding: 10px;
display: none;
width: 100px;
text-align: center;
}