body {
    color: #FFF;
    background-color: #4285F4;
    font-family: arial;
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.hidden {
	display: none;
}

.baymax-head {
	display: none;
	position: absolute;
    height: 275px;
    width: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    margin: auto;
    border-radius: 46%;
    box-shadow: 9px -7px 11px -7px #6F6F6F inset, 
			    0px 4px 18px -7px black inset, 
			    -9px -7px 11px -7px #6F6F6F inset;
}

.left-eye {
	position: absolute;
    left: 15%;
    top: 25%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background-color: #000;
}

.right-eye {
	position: absolute;
    right: 15%;
    top: 25%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background-color: #000;
}

.linha {
	position: absolute;
    width: 50%;
    height: 2%;
    background-color: #000;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
}