*  {
padding:  0px;
margin:  0px;
-webkit-box-sizing:  border-box;
-moz-box-sizing:  border-box;
-o-box-sizing:  border-box;
box-sizing:  border-box;
}
body  {
color:  #222;
}
a  {
color:  #333;
text-decoration:  none;
}
a:hover  {
text-decoration:  underline;
}
.container  {
max-width:  48rem;
width:  90%;
margin:  0 auto;
}
.artista  {
position:  fixed;
top:  0;
width:  100%;
height:  150px;
background:  #FFC200;
}
.a_topo  {
height:  40px;
font-family:  sans-serif;
font-weight:  100;
font-size:  13px;
padding:  5px;
color:  white;
}
.a_nome  {
text-align:  left;
float:  left;
}
.a_album  {
text-align:  right;
}
.a_foto  {
margin:  auto;
margin-top:  20px;
width:  150px;
height:  150px;
border-radius:  80px;
border: 5px solid #FFF;
text-align:  center;
line-height:  145px;
font-size:  100px;
background:  #FFC200;
}
.conteudo_artista  {
padding:  5px;
margin-top:  250px;
}
.co_titulo  {
text-align:  center;
margin-bottom:  15px;
font-weight:  100;
font-size:  45px;
}
.co_descricao  {
text-align:  center;
max-width:  400px;
margin:  0 auto;
font-weight:  100;
font-size:  30px;
}
.rodape  {
clear:  both;
text-align:  center;
margin-top:  100px;
margin-bottom:  20px;
}
.rodape,  .projetos > div.title  {
float:  left;
width:  100%;
}
.projetos  {
margin-top: 17px;
text-align:  center;
}
.projetos div  {
float:  left;
width:  50%;
}
.projetos > div.title  {
background-color: #FFC200;
font-weight: 400;
font-size: 21px;
padding: 8px;
margin-bottom: 17px;
}
.projetos a  {
display:  block;
padding:  5px;
width:  100%;
}
.projetos a:hover  {
background-color: #333;
color: #FFF;
text-decoration: none;
}
