body  {
    margin: 0;
    padding: 0;
    color:  #222;
}
a  {
    color:  #222;
    text-decoration:  none;
}
a:hover  {
    text-decoration:  underline;
}
.container  {
    max-width:  48rem;
    width:  90%;
    margin:  0 auto;
}
.artista {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px; 
    background: #222;
    z-index: 2;
    animation: scaleY 1s forwards;
    transform-origin: top;
    will-change: transform;
}
.a_foto  {
    background-image: url('../img/foto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid #FFF;
    border-radius:  80px;
    width:  150px;
    height:  150px;
    margin: auto;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 3;
    transform: translateY(-300px);
    animation: photoAnimation 1s 1s forwards;
    will-change: transform;
}
.conteudo {
    opacity: 0;
    will-change: opacity;
    animation: appear 1s 2s forwards;
}
.conteudo_artista  {
    padding:  5px;
    margin-top:  250px;
}
.co_titulo  {
    text-align:  center;
    margin-bottom:  15px;
    font-weight:  100;
    font-size:  45px;
}
.co_descricao  {
    text-align:  center;
    max-width:  400px;
    margin:  0 auto;
    font-weight:  100;
    font-size:  30px;
}
.rodape  {
    clear:  both;
    text-align:  center;
    margin-top:  100px;
    margin-bottom:  20px;
}
.rodape,  .projetos > div.title  {
    float:  left;
    width:  100%;
}

@keyframes photoAnimation {
    from {
        transform: translateY(-300px) rotate(0);
    }
    to {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}