*{
padding: 0px;
margin: 0px;
}
body{
background-color: #F5F5F5;
font-family: calibri;
}
.container{
margin: 0 auto;
width: 90%;
max-width: 812px;
}
.logo {
text-align: center;
font-variant: small-caps;
font-family: sans-serif;
font-weight: 100;
border-bottom: 5px dashed #242424;
color: #242424;
margin-bottom: 10px;
font-size: 80px;
}
.logo img {
width: 60px;
height: 60px;
margin-top: 10px;
}
.salvar{
cursor: pointer;
height: 33px;
width: 75px;
padding: 3px;
color: #FFF;
border: 1px solid #09F;
font-variant: small-caps;
border-radius: 3px;
font-size: 16px;
background-color: #4F8DEB;
}
.bt_editando:hover {
background-color: #FFF;
color: #242424;
}
.bt_editando {
padding: 4px;
min-width: 25px;
font-size: 17px;
border: 2px solid #242424;
background-color: #242424;
color: #FFF;
border-radius: 3px;
cursor: pointer;
transition: 0.3s;
}
.bt_editando:focus {outline: none;}
.smallCaps{font-variant: small-caps;}
.papel {
width: 760px;
height: 1000px;
border: 1px solid #E9E9E9;
padding: 25px;
background-color: #FFF;
box-shadow: 0px 0px 20px #D3D3D3;
margin-top: 400px;
margin-bottom: 25px;
font-size: 20px;
color: #444;
transition:1.5s;
}
.papel:focus{outline: none;}
.bt_seleFonte {
padding: 4px;
cursor: pointer;
font-size: 16px;
color: #333;
border: 3px solid #242424;
border-radius: 3px;
}
@media print{
	.menu{
		display: none;
	}
	h1{
		display: none;
	}
	.papel{
		box-shadow: 0px 0px 0px #E2E2E2;
		border: none;
	}
}