*{
padding: 0px;
margin: 0px;
}
body{
color: #444;
font-family: sans-serif;
}
.fundo_modal {
position: fixed;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.20);
display: none;
}
.circulo {
font-size: 45px;
color: white;
bottom: 15px;
padding: 1px 15px 1px 15px;
box-shadow: 0px 2px 3px #5F7FA6;
right: 15px;
text-align: center;
border-radius: 35px;
background-color: #5F7FA6;
position: fixed;
transition:1s;
z-index: 999;
cursor: pointer;
}
.conteudo {
height: 400px;
position: fixed;
bottom: -600px;
background: white;
margin-right: 3%;
margin-left: 3%;
margin-bottom: 200px;
transition: 1s;
box-shadow: 0px 2px 3px #5F7FA6;
font-size: 18px;
border-radius: 3px;
}
.topo {
font-size: 18px;
text-align: left;
float: left;
padding: 0;
background: #5F7FA6;
width: 100%;
}
.topo h3 {
float: left;
padding: 15px;
font-weight: 100;
color: white;
}
.btn-min {
text-align: right;
float: right;
height: 20px;
font-size: 20px;
margin-top: 15px;
margin-right: 15px;
border-radius: 10px;
background-color: #FFFFFF;
width: 20px;
cursor: pointer;
}
.conteudo_cont{
padding: 15px;
float: left;
}
.conteudo_base{
//padding: 15px;
}
.conteudo_base h1{
margin-bottom: 15px;
padding: 15px;
background-color: #5F7FA6;
color: white;
font-weight: 100;
}
.conteudo_base p {
font-size: 18px;
padding: 15px;
}